<!DOCTYPE html>
<html lang="en" ng-app='additionModule'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script>
        var additionModule = angular.module("additionModule", []);
        additionModule.controller('AdditionController', ['$scope', function(scope) {
            scope.firstNumber = 2;
            scope.secondNumber = 2;
            scope.result = 4;

            scope.addNumbers = function() {
                scope.result = parseInt(scope.firstNumber) + parseInt(scope.secondNumber);
            }
        }]);
    </script>
</head>

<body ng-controller='AdditionController'>
    <div>
        First Number : <input type="text" ng-keyup="addNumbers()" ng-model='firstNumber'> Second Number : <input type="text" ng-keyup="addNumbers()" ng-model='secondNumber'>
    </div>
    <div id="Result" ng-model='result'>Result : {{result}}</div>
</body>

</html>