<!DOCTYPE html>
<html lang="en" ng-app="booksApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multiple Controllers</title>
    <script src="angular.min.js"></script>
    <script src="MultipleControllers.js"></script>
</head>

<body>
    <div>
        <div ng-controller="techController">
            <div>Technical Books</div>
            <div>
                <select name="TechnicalBooks">
                    <option ng-repeat="book in books">{{book}}</option>
                </select>
            </div>
            <div>
                <button type="text" ng-click="onSubmit()" ng-disabled="submitEnable">CheckOut</button>
            </div>
        </div>
        <div ng-controller="nonTechController">
            <div>
                <div>Non Technical Books</div>
                <div>
                    <select name="NonTechnicalBooks">
                        <option ng-repeat="book in books">{{book}}</option>
                    </select>
                </div>
                <div>
                    <button type="text" ng-click="onSubmit()" ng-disabled="submitEnable">CheckOut</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>