<!DOCTYPE html>
<html lang="en" ng-app="mobilesApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Mobile phones</title>
    <script src="./src/angular.min.js"></script>
    <script src="./src/Mobile Phones.js"></script>
</head>

<body ng-controller="mobileCtrl">
    <div>
        <table>
            <tr>
                <th>Model</th>
                <th>Touch</th>
                <th>Image URL</th>
            </tr>
            <tr ng-repeat="mobile in mobiles">
                <td>{{mobile.model}}</td>
                <td>{{mobile.touch}}</td>
                <td><img ng-src="{{mobile.imageURL}}" WIDTH="100"></td>
            </tr>
        </table>
    </div>
</body>

</html>